body{
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.wrapper{
    width: 1024px;
    margin: 0 auto;
    padding: 50px;
    font-size: 16px;
}
.header{
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 30px;
}
.form{
   display: flex;
   flex-direction: column;
}
.fields{
   display: flex;
   flex-wrap: wrap;
   padding-left: 30px;
}
.field{
    flex-basis: 50%;
    padding-bottom: 2.5em;
}
/*.buttons{*/
    /*text-align: center;*/
/*}*/
.buttons{
    display: flex;
    justify-content: center;
}
.block{
    width: 333px;
    border: 1px solid black;
}
.blocks{
    display: flex;
    justify-content: space-between;
}
.output-header{
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 1em;
}
.block-header{
    border-bottom: 1px solid #000;
}
.block-content{
    padding: 40px 20px 70px 20px;
}
.field-content-id{
    width: 260px;
}
.field-checkbox{
    padding-left: 75px;
}
.label-content-id{
    padding-left: 20px;
}
.img-right{
    float: right;
}
.p-left{
    float: left;
    padding: 10px;
    color: #898989;
}
.block-header{
    overflow: hidden;
    border-bottom: 1px solid #898989;
}
.btn-active{
    padding: 7.5px 24px;
    font-size: .8125rem;
    color: #dd1a5b;
    border: 1px solid #e65384;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
}